/*

.div_container1{
flex-grow:2;
display:inline-flex;
justify-content: space-between;


}

.div_container2{

    display:inline-flex;
    
    
    }

    .contenedor_España{
        background-color: lightgray;
        display: flex;
        justify-content:flex;
        flex-direction:row;
        color:gray;
        
    }
*/

.Contenerdor1{

  display: inline-flex;
  float:left;
    flex-direction: row;
    justify-content: space-between;
      text-align:center;
      color:black;
     
      font-size: 96%;
      font-family: Arial, Helvetica, sans-serif;


      margin:18px;
      margin-left:20px;
    
     
}


.div_item1{

order:1;


}


.div_item2{
  order:2;
margin-left:21px;
  

  
}

.container2{
  display: inline-flex;
float:right;
flex-direction: row;
justify-content: flex-end; 
 /* text-align:center;*/
  color:black;
align-items: center;
justify-items: center;
  font-size: 90%;
  font-family: Arial, Helvetica, sans-serif;
  

}
/* nada nada ya esta bien */

.item1_c2{

order:1;
margin:15px;
margin-right:2px;
align-self:center;

}

.item2_c2
{
order:2; 

margin:15px;
 margin: right 4px;
align-self: center;

}

.item3_c2{
order:3;
margin:10px;


margin:right 3px;

}


.item4_c2{
font-weight: normal;
  display: flex;
  flex-grow: 4;
order:4;
flex-direction: row;
background-color: rgb(38, 111, 247);
border-radius:5px;
color:white;
margin:5px;
margin-top:2px;
padding:12px;
align-self: center;
padding-left: 30px;
padding-right: 30px;

}

.item4_c2:hover{

background-color: rgb(38, 111, 247,0.8);
}


/*

.contenedor_google div{
  width: 100px;
height: 100px;

}*/

/*-------------------------------------------------------------------BARRAS GRISES DE ABAJO--------------------------------------------------------------------*/


.container3{

display: flex;

height: 2rem;
padding: 0.5rem;
padding-left:0.5rem;
color:#2b29299d;
background-color: #f3f3f3;
/*
background-color:#E0E0E0;
*/
font-size: 98%;
  font-family: Arial, Helvetica, sans-serif;

 border-bottom: 1px solid #CCC;
position: fixed;
 bottom:49px;


 width:100vw;

}


.esp{

margin-left:2rem;
align-self: center;

}

.contenedor_publi_empresa_busqueda{
  display:flex;
  flex-direction: row;
  flex-flow: nowrap;
  background-color:#f3f3f3; 
  justify-content: space-between;
  align-items: center;
  font-size: 96%;
  flex-grow: inherit;
flex-wrap:wrap;
position: fixed;
bottom:0;
color:#2b29299d;
height: 2rem;
padding: 0.5rem;
padding-right:25rem;
font-family: Arial;
margin-right:auto;

}

.Publicidad{
  justify-self: flex-start;
  margin-left:2rem;
margin-right:25px;

}

.Empresa{
  justify-self: center;
  margin-right:25px;

}


.busqueda{
  justify-self: flex-end;
}


.contenedor_hoja_carbono{

  display:flex;
  flex-direction: row;
 flex-grow:4;
  background-color:#f3f3f3; 
  justify-content: center;
  align-items: center;
  font-size: 96%;
  
width:30%;
color:#2b29299d;
height: 2rem;
padding: 0.5rem;
padding-right:25rem;
font-family: Arial;
margin-left:0px;
width:25%;
position:fixed;
bottom:0;
margin-left:650px;
}


.hoja{

  justify-self:center;
  margin-right: 1px;


}

.carbono{
  justify-self:center;

}


.contenedor_config_termes_privacitat{

  display:flex;
  flex-direction: row;
  
  background-color:#f3f3f3; 
  justify-content:flex-end;
  align-items: center;
  font-size: 96%;

width:20%;
color:#2b29299d;
height: 2rem;
padding: 0.5rem;
padding-right:25rem;
font-family: Arial;
margin-left:auto;
position: fixed;
bottom:0;
margin-left:1150px;

}

.Privacidad{
justify-self: flex-end;
 margin-right:25px;
margin-left:20rem;

}

.terminos{
 
  margin-right:25px;
}

.config{
  justify-self: flex-end;
  margin-right:2rem;
}




/*---------------------------------------*/
/*

.contenedor_abajo{
font-size: 96%;
font-family: Arial;
display: flex;
flex-direction: row;

height: 2rem;
padding: 0.5rem;
padding-right:25rem;
width:78vw;

color:#2b29299d;

background-color: #f3f3f3;
align-items: center;
position:fixed;
bottom:0;
justify-content: space-between;

}





.Publicidad{

margin-right:auto;
margin-left:2rem;
order:1;
}
.Empresa{


margin-left:10px;
order:2;
}

.busqueda{

order:3;
margin-right:auto;

}

.Privacidad{

justify-self: flex-end;
margin-left:auto;
order:6;

}

.terminos{

justify-self: flex-end;
margin-left:auto;
order:7;

}

.config{
justify-self: flex-end;
margin-left:auto;
order:8;

}



.hoja{
order:4;
align-self:center;
position:absolute;
left:41.5%;
}
.carbono{
order:5;
position:absolute;
left:50%;
transform: translate(-80%,0);
}
*/

/*----------------------------------------------------------SECCION GOOGLE , BUSCADOR Y IDIOMAS----------------------------------------------------------------------*/

.section_centro{
display:grid;
grid-template-columns: 450px;
grid-template-rows: 50px 50px 50px 50px;
justify-content: center;
align-items:center;
justify-items: center;

left:100px;

position:relative;
top:280px;
/*left:100px;*/

padding:20px;
grid-row-gap: 40px;
}


.buscador{
display: flex;
height: 48px;
width:650px;
border:  0.35px solid #CCC;
justify-content: center;
position:relative;
top:1.5rem;
border-radius: 40px;
}




.lupa{
justify-self: flex-start;
margin-right:auto;
align-self: center;
}
.cam{
justify-self: flex-end;
margin-left: auto;

margin-right:10px;
align-self: center;

}
.micro{

position:relative;
align-self: center;

left:43.5%;
transform: translate(-100%,0);
}
.idiomas{

justify-content: center;
font-family:  Arial;
font-size: 90%;
margin-bottom: auto;
}


.contenedor_google{

font-weight: bold;
display:flex;
justify-content: flex-start;
font-family:arial,serif;

/*
position:relative;
top:10rem;
width:100vw;
font-family:Tahoma;

*/
}


.google{
justify-self:center;
color:rgb(58, 135, 250);
font-size: 600%;
align-self: last baseline;
margin:0;

}
.letraO{
justify-self:center;
align-self: last baseline;
color:red;
font-size: 550%;

margin:0;
}

.letra_o{
justify-self: center;
align-self: last baseline;
color:rgb(231, 193, 67);
font-size: 550%;
margin:0;
}
.g{
justify-self: center;
align-self: last baseline;
color:rgb(58, 135, 250);
font-size: 550%;
margin:0;
}
.l{
justify-self: center;
align-self: last baseline;
color:rgb(23, 173, 23);
font-size: 550%;
margin:0;
}
.e{
justify-self: center;
align-self: last baseline;
color:red;
font-size: 550%;
margin:0;
transform: rotate(-20deg);
}


a:link{
padding:2px;
text-decoration: none;

}
a:hover{
text-decoration: underline;
}
a:active{
COLOR:rgb(8, 8, 148);
}

.buscador img{
display: flex;
justify-content: space-between;
}
.lupa{
align-self: center;
padding:0.5rem;
}
.micro{
align-self: center;
}
.cam{
align-self: center;
}

/*-----------------------------buscar con google ------voy a tener suerte-------------------------------------------------------------------*/

.contenedor_cata_caste_ingles{

display: flex;
flex-direction: row;
text-align: center;
font-family: arial;
font-size:96%;


}
.Cerca_de_google{
order:1;

margin-top: 20px;
padding:10px;

background-color: #f7f5f5e1;

flex-grow:4;
margin-right: 20px;
padding-left: 20px;
padding-right: 20px;

border-radius: 2px;
}

.segur_k_tinc_sort{

order:2;
flex-grow:4;
margin-top: 20px;
padding:10px;
padding-left: 20px;
padding-right: 20px;
background-color: #f7f5f5e0;
border-radius: 1px;

}

.Cerca_de_google:hover{

border-color: black; 

}
.segur_k_tinc_sort:hover{

border-color: black;

}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*
.buscador{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-self: center;
 background-color: pink;
 border-radius: 10px;
 position:relative;


}
*/



/*


.contenedor_medio{
font-size: 96%;
font-family: Arial, Helvetica, sans-serif;
display:flex;
float:left;
justify-content: center;
flex-direction: row;

height: 2rem;
padding: 0.5rem;

color:#4e4c4c9d;
background-color: pink;



}





*/
/*
.contenedor_derecho{

font-size: 96%;
font-family: Arial, Helvetica, sans-serif;
display:flex;
background-color: #f3f3f3;

flex-direction: row;

height:2rem;
padding:0.5rem;
text-align: center;
justify-content: space-between;
align-items: center;
padding-left: 25rem;
color:#4e4c4c9d;


}

*/